.price-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 275px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price-card h6 {
  margin-top: 0;
}

.price {
  font-size: 42px;
  font-weight: 500;
  color: #333;
}

.features {
  list-style-type: none;
  padding: 0;
}

.features li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.check-mark {
  margin-right: 10px;
  font-size: 15px;
}

.bold-check {
  font-weight: bold;
  color: black;
}

.disabled-check {
  color: grey;
}

.disabled-feature {
  color: grey;
}

.customType {
  color: #cdcdcd;
  font-weight: 700;
  font-size: 15px;
}

.lighterHr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin-bottom: 20px;
}

.buttonStyle {
  width: 100%;
  border-radius: 18px;
  font-weight: 600;
  font-size: 10px;
}
